
$font-weights: (
  "regular": 400,
  "semi-bold": 500,
  "bold": 700,
  "extra-bold": 900,
  "thin": 100,
);

// font sizes
$base-font-size: 1em;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// $color:(
//   "primary-color" : #19af5c,
//   "secondary-color" :#a9dd47

// );



$font: "Be Vietnam Pro", sans-serif;
