@use "../util" as u;
@use "../abstract" as a;
html {
  box-sizing: border-box;
  font-size: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}



*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: a.set-color(background-color);
  color: a.set-color(text-color);
  height: 100vh;
  font-family: u.$font;
  line-height: 1em;
  width: 100%;

}

//
// body {
//   background-color: a.main-color(primary-color);
//   color: a.main-color(secondary-color);
//   height: 100vh;
//   // font-family: u.$font;
//   line-height: 1;
// }

h4 {
  font-weight: a.weight(thin);
  // color: u.$white-color;
}
ul{
list-style-type: none;
}
